h1 {
    color: red;

    font-size: 40px;

    text-align: center;

}

h2 {
    color: blue;

    font-size: 30px;

    text-align: center;

}

h3 {
    color: fuchsia;

    font-size: 25px;

    text-align: center;

}

h4 {
    color: green;

    font-size: 20px;

    text-align: center;

}